
h4 {
font-size: 20px;
font-family: Georgia, Arial;
font-style: normal;
color: navy;
}

body{
	background-color: yellow;
}


.page-header {
padding-bottom: 9px;
margin: 40px 0 20px;
border-bottom: 1px solid #eeeeee;
margin-top: -70px;
}


.timeline-heading{
	color: blue;
}